* {
   /* outline: 1px solid red; */
}

body {
    margin: 20px;
    background-color: #3a3a3a;
    border: 2px solid red;
}

ul,
ol {
    list-style: none;
}

.open {
    background-color: white;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.mission {
    background-color: grey;
}



/* First tier list */



.listone {
    display: flex; 
    flex-direction: row;
    background-color: grey;
    color: black;
    min-height: 40px;
    min-width: 60px;
    justify-content: space-around;
    align-items: center;
}

.item1 {
    outline:2px solid black;
    flex: 0 1 auto;
}




/* Second tier list */



.listtwo {
    height: 400px;
    padding: 16px;
    background: plum;
    border: 4px solid indigo;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

    /* in 'row' direction, align-items works on the opposing axis */
    align-items: center;
}

.item2 {
    width: 60px;
    height: 60px;
    border: 4px solid darkslategray;
    background: skyblue;
    flex: 0;
}

.st {
    margin-top: 20px;
}

.divone {
    display:flex;
    outline: 2px solid white;
    min-height: 200px;
    flex-direction: column;
}
    .p1 {
        outline: 2px solid red;
        flex-basis: 150px;
    }
    .p2 {
        outline: 2px solid green;
        flex: 1;
    }
    .p3 {
        outline: 2px solid blue;
        flex: 2;
    }
    .p4 {
        outline: 2px solid yellow;
        flex: 1;
    }
    .pp {
        padding: 20px;
    }

    .lame {
        display:flex;
        flex-direction: column;
    }
    .firstBox {
        outline: 2px solid white;
        background-color: black;
        color: white;
        display:flex;
        min-height: 1000px;
        justify-content: center;
        align-items: center;
    }

    .he {
        outline:2px solid white;
        display:flex;
        gap:15px;
        min-height:400px;
        min-width: 400px;
        min-width: 400px;
        justify-content: space-evenly;
        align-items: center;
    }

    .stacked {
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .secondBox {
        background-color: white;
        display:flex;
        min-height: 1000px;
        justify-content: center;
        align-items: center;
    }

    .hee {
        outline: 2px solid black;
        display:flex;
        gap:15px;
        min-height:400px;
        min-width: 400px;
        justify-content: space-evenly;
        align-items:center;
    }

    .thirdBox {
        background-color: white;
        display:flex;
        min-height: 1000px;
        justify-content: center;
        align-items: center;
    }

    .me {
        outline: 2px solid black;
        display:flex;
        gap:15px;
        min-height:400px;
        min-width: 400px;
        justify-content: space-evenly;
        align-items:center; 
    }

    .fourRow {
        background-color: black;
        display: flex;
        outline: 2px solid green;
        justify-content: space-evenly;

    }

    .fourthBox {
        background-color: black;
        display:flex;
        min-height: 500px;
        justify-content: center;
        align-items: center;
        outline: ;

    }

    .mee {
        outline: 2px solid white;
        display:flex;
        color: white;
        gap:15px;
        min-height:300px;
        min-width: 300px;
        justify-content: space-evenly;
        align-items:center;
    }

    .fifthBox {
        background-color: black;
        display:flex;
        min-height: 500px;
        justify-content: center;
        align-items: center;
    }

    .meee {
        outline: 2px solid white;
        display:flex;
        color: white;
        gap:15px;
        min-height:300px;
        min-width: 300px;
        justify-content: space-evenly;
        align-items:center;
    }

    .sixthBox {
        background-color: black;
        display:flex;
        min-height: 500px;
        justify-content: center;
        align-items: center;
    }

    .meeee {
        outline: 2px solid white;
        display:flex;
        color: white;
        gap:15px;
        min-height:300px;
        min-width: 300px;
        justify-content: space-evenly;
        align-items:center;
    }

    .seventhBox {
        background-color: black;
        display:flex;
        min-height: 500px;
        justify-content: center;
        align-items: center;
    }

    .meeeee {
        outline: 2px solid white;
        display:flex;
        color: white;
        gap:15px;
        min-height:300px;
        min-width: 300px;
        justify-content: space-evenly;
        align-items:center;
    }
    .rowOne {
        display: flex;
        flex-direction: column;
        flex: 0;
    }
    .rowTwo {
        display: flex;
        flex-direction: column;
    }